
body{
	min-height: 800px;
}

/*=================================================Logged in header*/
.headerLoggedIn{
	height: 35px;
	background-color: #f8f7f7;
	border-bottom: 1px solid #eae9e9;
	top: 0;
}

.headerLoggedIn .profilePic{
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: #000;
	border: 2px solid #666;
	float: left;
	margin-right: 5px;
}

.UserInfo{
	position: absolute;
	right: 40px;
	top: 0;
	margin-top: 7px;
}




/*Nav Logged In*/
.userNav{
	min-height: 300px;
	background-color: #ededed;
	border-right:2px solid #dedede;
	padding: 0;
	height: 100%;
}

.userNav ul{
	margin-top: 10px;
	padding: 0;
}

.userNav li{
	list-style: none;
	height: 34px;
	display: inline-block;
	width: 100%;
	padding-left: 10px;
}
.userNav li:hover{
	text-decoration: none;
	background-color: #268ddc;
	color: #fff;
}

.userNav li:hover >a{
	color: #fff;
	text-decoration: none;
}

.userNav li a{
	color: #000;
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
	line-height: 34px;
	width: 86%;
	display: inline-block;
	float: left;
}
.userNav .active{
	background-color: #268ddc;
}
.userNav .active a {
	color: #FFF;
	display: inline-block;
	width: 86%;
}

.userNav .active .glyphicon{
	color: #fff;
}

.lowerUL{
	border-top: 1px solid #666;
}

/*Page Basics*/
.page-title{
	float: left;
	font-size:24px;
	font-weight: bold;
	margin-top: 10px;
}
.hamburger {
	width: 40px;
	height: 45px;
	font-size: 23px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.newBtn{
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}

/*glyphicons*/
.glyphicon-dashboard,.glyphicon-user,.glyphicon-tasks,.glyphicon-list-alt,.glyphicon-usd{
	font-size: 26px;
	float: left;
	line-height: 23px;
	display: inline-block;
	margin-top: 4px;
}

/*Projects Page*/
.projectPreview{
	height: 125px;
	border: 1px solid #978b8b;
	position: relative;
	margin-top: 20px;
	padding: 10px;
}


.projectPreview .top{
	height: 75%;
	width: 100%;
}	

.projectPreview .logo {
	background-image: url("../images/google.png");
	background-repeat: no-repeat;
	width: 9%;
	float: left;
	height: 50px;
}

.projectPreview .companyTitle{
	float: left;
	font-size: 16px;
	width: 25%;
	display: inline-block;
}

.projectPreview .currentPhase{
	float: left;
}

.projectPreview .contactInfo{
	height: 50px;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
	font-size: 12px;
}

.projectPreview .bottom .tag{
	float: left;
	margin-right: 5px;
}

.projectPreview .bottom .right{
	float: right;

}

.projectDomain{
	float: left;	
	font-size: 16px;
	padding-top: 17px;
	font-weight: bold;	
	padding-left: 10px;
}
.phase{
	color: #666;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 10px;
	float: left;
}

.description{
	clear: both;
}

.crecentials .btn{
	margin-top: 3px;
}

.active-tasks{
	margin-top: 20px;
}
.task-single{
	border: 1px solid #999;
	margin-bottom: 5px;
	min-height: 35px;
	padding-top: 5px;
	position: relative;
}

.task-single .title{

}

.completedTasks{
	
}

.register .input-group,.logIn .input-group{
	margin-top: 5px;
}
